<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="warn"
      internalLogFile="internal-nlog.txt">

  <targets>
    <target xsi:type="File" name="file" fileName="/etc/logs/Hng.Web.dev/logfile.log" layout="${longdate} ${level:uppercase=true} ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>

